{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>🤡🤡🤡REGISTRAHAHAHAHAHAH🤡🤡🤡</title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/oldbook/oldbook.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/bootstrap.min.js' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/jquery-3.6.0.slim.min.js' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/popper.min.js' %}">
</head>
<body class="paper-bg">
<div class="paper-body page-bg">
    <div class="teste" style="text-align:center;">

        <h1>ahahahahah</h1>
    </div>
    <form method="post">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="old-btn">Salvar</button>

    </form>
</div>

</body>
</html>