/*body {*/
/*    background: url("https://media.istockphoto.com/vectors/old-antique-paper-parchment-scroll-over-white-vector-id1263403120?k=20&m=1263403120&s=612x612&w=0&h=YBtHWs2Mvczwb0Fa3BxrkRbVJaI8eiUPL7K1GEZJI8Y=");*/
/*}*/

.background {
    /*height: 500px;*/
    /*width: 500px;*/
    position: relative;
    z-index: 0;
    display: inline-block;
    overflow: hidden; /* hide the overflow here not on the pseudo element */
    /*padding: 100px;*/
}

.background::before {
    content: "";
    position: absolute;
    z-index: -1;
    /* 141% ~ sqrt(2)x100% to make sure to cover all the area after the rotation */
    width: 141%;
    height: 141%;
    /* to center*/
    left: 50%;
    /*top: 50%;*/
    background: url(https://media.istockphoto.com/vectors/old-antique-paper-parchment-scroll-over-white-vector-id1263403120?k=20&m=1263403120&s=612x612&w=0&h=YBtHWs2Mvczwb0Fa3BxrkRbVJaI8eiUPL7K1GEZJI8Y=) no-repeat center center fixed;
    /*background-size: 100px 100px;*/
    background-size: 82% 46%;
    transform: translate(-50%, -50%) rotate(90deg);
    /*opacity: 0.5;*/
}