{% extends "pages/index/index-base.html" %}
{% load static %}
{% load auth_extras %}


{% block content %}
    <!-- Begin Page Content -->
    <table class="table table-striped text-center">
        <a class="btn btn-primary btn-lg float-register-button" type="button"
           href="{% url 'register-spell' %}">
            Cadastrar
        </a>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Criado por</th>
            <th>Ações</th>
        </tr>
        {% for spell in object_list %}
            <tr>
                <td>{{ spell.pk }}</td>
                <td>{{ spell.name }}</td>
                <td>{{ spell.user }}</td>
                <td>
                    <a href="{% url 'edit-spell' spell.pk %}" class="btn btn-primary btn-sm"><i
                            class="fas fa-edit fa-sm fa-fw text-gray-400"></i></a>
                    <a class="btn btn-danger btn-sm" href="" data-toggle="modal"
                       data-target="#deleteModal">
                        <i class="fas fa-trash fa-sm fa-fw text-gray-400"></i>
                    </a>
                </td>
            </tr>
            <!-- Logout Modal-->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="firstModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Tem certeza?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Se realmente deseja excluir o registro "{{ spell }}", selecione
                            "Excluir"
                            abaixo <strong>(essa ação é irreversível)</strong>.
                        </div>
                        <form action="{% url 'delete-spell' pk=spell.pk %}" method="POST">
                            {% csrf_token %}
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                <button class="btn btn-danger" type="submit">Excluir</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% empty %}
            <tr>
                <td colspan="3">Nenhum Feitiço cadastrado!</td>
            </tr>
        {% endfor %}
    </table>
    <!-- /.container-fluid -->
{% endblock %}